@model IEnumerable<MyecommerceApp.Entities.Payment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Payments</h1>

<div class="row">
    <div class="col text-right mb-3">
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </div>
</div>
<div class="row">
    @foreach (var item in Model) {
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <p class="card-text">Payment method: @Html.DisplayFor(modelItem => item.PaymentMethod)</p>
                    <p class="card-text">Transaction Details: @Html.DisplayFor(modelItem => item.TransactionDetails)</p>
                    <p class="card-text">Order: @Html.DisplayFor(modelItem => item.OrderId)</p>
                    
                    <a href="@Url.Action("Edit", new { id = item.PaymentId })" class="btn btn-primary">Edit</a>
                    <a href="@Url.Action("Details", new { id = item.PaymentId })" class="btn btn-secondary">Details</a>
                    <a href="@Url.Action("Delete", new { id = item.PaymentId })" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    }
</div>

<!-- <div class="text-right mb-3">
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.OrderId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PaymentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PaymentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PaymentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>-->
