@model IEnumerable<MyecommerceApp.Entities.OrderItem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>OrderItems</h1>
<div class="row">
    <div class="col text-right mb-3">
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </div>
</div>
<div class="row">
    @foreach (var item in Model) {
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <p class="card-text">Quantity: @Html.DisplayFor(modelItem => item.QuantityOrdered)</p>
                    <p class="card-text">Price: @Html.DisplayFor(modelItem => item.Price)</p>
                    <p class="card-text">OrderID: @Html.DisplayFor(modelItem => item.Order.OrderId)</p>
                    <p class="card-text">ProductID: @Html.DisplayFor(modelItem => item.Product.ProductId)</p>

                    <a href="@Url.Action("Details", new { id = item.OrderId })" class="btn btn-secondary">Details</a>
                   |
                    <a href="@Url.Action("Delete", new { id = item.OrderId })" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    }
</div>


<!-- <div class="text-right mb-3">
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuantityOrdered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityOrdered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductId)
            </td>
            <td>
                                <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>-->
